@keyframes ldio-g6dhqslhlfk {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-g6dhqslhlfk div { box-sizing: border-box!important }
.ldio-g6dhqslhlfk > div {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 13.5px;
  left: 13.5px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #e15b64 transparent #e15b64 transparent;
  animation: ldio-g6dhqslhlfk 2.4390243902439024s linear infinite;
}

.ldio-g6dhqslhlfk > div:nth-child(2), .ldio-g6dhqslhlfk > div:nth-child(4) {
  width: 61px;
  height: 61px;
  top: 19.5px;
  left: 19.5px;
  animation: ldio-g6dhqslhlfk 2.4390243902439024s linear infinite reverse;
}
.ldio-g6dhqslhlfk > div:nth-child(2) {
  border-color: transparent #f8b26a transparent #f8b26a
}
.ldio-g6dhqslhlfk > div:nth-child(3) { border-color: transparent }
.ldio-g6dhqslhlfk > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-g6dhqslhlfk > div:nth-child(3) div:before, .ldio-g6dhqslhlfk > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 29px;
  background: #e15b64;
  border-radius: 50%;
  box-shadow: 0 68px 0 0 #e15b64;
}
.ldio-g6dhqslhlfk > div:nth-child(3) div:after {
  left: -5px;
  top: 29px;
  box-shadow: 68px 0 0 0 #e15b64;
}

.ldio-g6dhqslhlfk > div:nth-child(4) { border-color: transparent; }
.ldio-g6dhqslhlfk > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-g6dhqslhlfk > div:nth-child(4) div:before, .ldio-g6dhqslhlfk > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 23px;
  background: #f8b26a;
  border-radius: 50%;
  box-shadow: 0 56px 0 0 #f8b26a;
}
.ldio-g6dhqslhlfk > div:nth-child(4) div:after {
  left: -5px;
  top: 23px;
  box-shadow: 56px 0 0 0 #f8b26a;
}
.loadingio-spinner-double-ring-v2rqdmpzalb {
  width: 91px;
  height: 91px;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  background: transparent;
}
.ldio-g6dhqslhlfk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.91);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-g6dhqslhlfk div { box-sizing: content-box; }